:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, oklch(74.6% 0.16 232.661), oklch(82.7% 0.119 306.383));
  color: oklch(65.6% 0.241 354.308);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p{
  font-size: 1.25em;
  margin-top: 0.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
